venv/*
venv37/*
env37/*
config.py
whisper.cpp
setup.sh
streaming_cache.json
old
__pycache__
.idea/*
.vscode/*
skills_old.py
hbo.json
Dockerfile
docker-compose.yml
.env
scripts/*
files
app
Dockerfile
skills/unogs_reset.txt
v1.2.1.zip
.idea/workspace.xml
rasa_nlu-0.15.1-py3-none-any.whl
scripts/.env
timer_data.yaml
